<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
     <nav class="navbar navbar-expand-md navbar-dark" th:fragment="navbar">
         <ul>
             <li class="nav-item active">
                <a class="btn btn-warning" href="/adresses">Adresses</a>
             </li>
             <li class="nav-item active">
                <a class="nav-link" href="/greeting">Greeting</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/adresse">Rechercher pour une adresse</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/h2-console">H2 Database Console</a>
             </li>
         </ul>
     </nav>
</body>
</html>