<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
     <nav class="navbar navbar-expand-md navbar-dark" th:fragment="navbar">
         <ul>
             <li class="nav-item active">
                <a class="btn btn-warning" href="/adresses">Adresses</a>
             </li>
             <li class="nav-item active">
                <a class="nav-link" href="/greeting">Greeting</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/adresse">Rechercher pour une adresse</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/h2-console">H2 Database Console</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="https://www.youtube.com/watch?v=tzsNTcMHxis">Tuto NavBar</a>
             </li>
         </ul>
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
         <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
         <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
     </nav>



</body>
</html>